/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: '', Poppins-Regular;
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
}


@font-face{
  font-family: 'Poppins-Regular';
  src: url('../../poppins/Poppins-Regular.ttf');
}

@font-face{
  font-family: 'Poppins-Medium';
  src: url('../../poppins/Poppins-Medium.ttf');
}


@font-face{
  font-family: 'Poppins-Bold';
  src: url('../../poppins/Poppins-Bold.ttf');
}



a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}

#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}


	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}



/*hover on dropdown and drop*/
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
/*hover on dropdown and drop end*/


/*=================================================================
  Custom Css
==================================================================*/

.__pl{
  padding-left: 0;
}

.__pr{
  padding-right: 0;
}

.__p{
  padding: 0;
}


.__spacet5p{
  margin-top:5%;
}

.__spacet7p{
  margin-top:7%;
}

.__spacet10p{
  margin-top:10%;
}

.__spacet15p{
  margin-top:15%;
}

.__spacet20p{
  margin-top:20%;
}


.__logoimg {
  width: 89px;
  margin-top: 9px;
}





/* ---- particles.js container ---- */

#particles-js {
  /*position: absolute;*/
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../img/noise.gif);
  /*background-image: url("");
  background-image: linear-gradient(320deg, #bf1752, #2e3192);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
}



.particles-js-canvas-el{
  height: 97% !important;
}

.__intro{
  position: absolute;
  /*background: #ffffff;*/
  margin-top: 10%;
}

.__intro__text {
  color: #ffc712;
  font-size: 54px;
  position: relative;
  font-family: Poppins-Medium;
}


.__intro__text::before {
  left: 2px;
  text-shadow: blue -1px 0px;
  animation: 15s linear 0s infinite alternate-reverse none running noise-anim-2;
}

.__intro__text::before, .__intro__text::after {
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.__intro__text::after {
  left: -2px;
  text-shadow: red 5px 0px;
  animation: 2s linear 0s infinite alternate-reverse none running noise-anim;
}

.__mark {
  background-color: initial;
  padding: 0px;
}

.__disc{
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.__disc a{
  transition: all 0.4s ease-in;
  
  /*color: #6d6d6d;*/
}

.__disc a:hover{
  text-decoration: underline !important;
  color: #ffc712;
}

.float-panel{
  padding: 20px;
  width:300px;
}

.__geto{
  /*color: #ffffff;*/
  font-size: 30px;
  font-family: Poppins-Bold;
  line-height: 1.0;
}

.__soci{
  /*color: #ffffff;*/
}


.__fotsohf{
  font-size: 20px;
  /*color: #ffffff;*/
  /*transition: all 0.4s ease-in;*/
}

.__fotsohi{
  font-size: 20px;
  /*color: #ffffff;*/
  /*transition: all 0.4s ease-in;*/
}

.__fotsoht{
  font-size: 20px;
  /*color: #ffffff;*/
  /*transition: all 0.4s ease-in;*/
}

.__fotsohy{
  font-size: 20px;
  /*color: #ffffff;*/
  /*transition: all 0.4s ease-in;*/
}

.__portcard{
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.16);
  margin-top: 10px;
}

/*scrool screen*/
.__scroolscreen {

    display: block;

    /*width: 300px;*/

    height: 227px;

    overflow: hidden;

    position: relative;

    /*border: 2px solid #b3b3b3;*/

    border-radius: 1px;

    margin: 0 auto;

}

.__scroolscreen img {

    /*bottom: -50px;*/
    bottom: -413px;

    width: 100%;

    height: auto;

    position: absolute;

    z-index: 0;

  margin:0;

  padding:0;

    -webkit-transition: top 11s;

    -moz-transition: top 11s;

    -ms-transition: top 11s;

    -o-transition: top 11s;

    transition: bottom 11s;
    cursor: pointer;

}

.__scroolscreen:hover img {

  bottom: 0;

  -webkit-transition: all 11s;

  -moz-transition: all 11s;

  -ms-transition: all 11s;

  -o-transition: all 11s;

  transition: all 11s;

}

.__imgd {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 186vh !important;
    /*border-radius: 4px;*/
    margin-top: 10px;
}
/*scrool screen end*/

.__portin{
  padding: 20px;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    /*border: 5px solid #f8f8f8;*/
    border: 10px solid #f8f8f8;
    display: block;
    border-radius: 10px;
    border-style: dotted;
    width: 200px;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 46%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 50%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #ffffff;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}




/*backgroud color changer*/
.__bgchanger{
  background: #435363;
  color: #ffffff;
  -webkit-animation: bg 2s infinite alternate;
  -moz-animation: bg 2s infinite alternate;
  -o-animation: bg 2s infinite alternate;
  animation: bg 2s infinite alternate;
}

@-webkit-keyframes bg {
  0%   { background: #2d4b91; }
  100% { background: #212121; }
}
@-moz-keyframes bg {
  0%   { background: #2d4b91; }
  100% { background: #212121; }
}
@-o-keyframes bg {
  0%   { background: #2d4b91; }
  100% { background: #212121; }
}
@keyframes bg {
  0%   { background: #2d4b91; }
  100% { background: #212121; }
}
/*backgroud color changer end*/








/*=================================================================
footer
==================================================================*/
.__foter{
  padding: 39px 0;
  /*color: #ffffff;*/
}


 .heart {
  color: #c62d42;
  font-size: 1.2em;
  animation: beat 3s ease-in infinite;
  /*padding: .2%;*/
  
}
@keyframes beat {
  0% {
    color: #c62d42;
    font-size: 0.8em;
  }
  100% {
    color: #b33b24;
    font-size: 1.2em;
  }
}

/*footer end